apiVersion: v1
kind: Service
metadata:
  name: shop-api
  namespace: shopping
  labels:
    app: shop-api
spec:
  type: ClusterIP
  ports:
    - port: 8083
      targetPort: 8083
      protocol: TCP
      name: http
  selector:
    app: shop-api
