apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-api-deploy
  namespace: shopping
  labels:
    app: product-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-api
  template:
    metadata:
      labels:
        app: product-api
    spec:
      containers:
        - name: product-api
          image: product-api:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8082
              name: http
          envFrom:
            - configMapRef:
                name: product-api-configmap
            - secretRef:
                name: product-api-secret
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 256Mi
          # livenessProbe:
          #   httpGet:
          #     path: /actuator/health
          #     port: 8082
          #   initialDelaySeconds: 30
          #   periodSeconds: 10
          # readinessProbe:
          #   httpGet:
          #     path: /actuator/health
          #     port: 8082
          #   initialDelaySeconds: 5
          #   periodSeconds: 5