apiVersion: v1
kind: Service
metadata:
  name: product-api
  namespace: shopping
  labels:
    app: product-api
spec:
  type: ClusterIP
  ports:
    - port: 8082
      targetPort: 8082
      protocol: TCP
      name: http
  selector:
    app: product-api