apiVersion: v1
kind: Service
metadata:
  name: user-api
  namespace: shopping
  labels:
    app: user-api
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app: user-api
